/* Start Global */

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    
}

.container{
    width: 1200px;
    margin: auto;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Start Global */ 

/* Start My Framwork */

.clearfix{clear: both;}

.special-heading{
    position: relative;
    margin: 0 0 50px;
    font-weight: normal;
    text-transform: capitalize;
}

.special-heading:after{
    content: "";
    position: absolute;
    display: block;
    border-bottom: 2px solid #333;
    top: 40px;
    left: 0;
    width: 40px;
}

/* End My Framwork */

/* Start Navbar */

.navbar{
    color: #ffffff;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navbar .brand{
    float: left;
    width: 45%;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar .links{
    float: left;
    width: 55%;
    margin-top: 15px;
}

.navbar .links li{
    display: inline-block;
    padding: 10px 0;
    margin: 0 15px;
    text-transform: capitalize;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.navbar .links li a{
    color: #FFF;
    text-decoration: none;
}

.navbar .links .active,
.navbar .links li:hover{
    color: #1abc9c;
    border-bottom: 2px solid #1abc9c;
    padding-bottom: 5px;
}

.navbar .links .active a,
.navbar .links li a:hover{
    color: #1abc9c;
    border-bottom: 2px solid #1abc9c;
    padding-bottom: 5px;
}

/* End Navbar */

/* Start Header */

.header{
    background-image: url(../images/header3.jpg);
    background-size: cover;
    position: relative;
    color: #fff;
}

.header .overlay{
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    
}


.header .bx-wrapper{
    background: none;
    border: none;
    box-shadow: none;
    height: 100%;
}

.header .bx-wrapper .bx-viewport{
    height: 100% !important;
    text-align: center;
}


.header .bx-wrapper .bx-viewport .bx-slider li{
    display: block;
    margin-top: -16px
}

.header .bx-wrapper .bx-viewport .bx-slider li h2{
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.header .bx-wrapper .bx-viewport .bx-slider li h2 span{
    color: #1abc9c;
}

/* End Header */

/* Start Our Services */

.services{padding: 20px}

.services h2{
    margin: 0 0 50px;
    font-weight: normal;
}

.services .item{
    width: 33.33333%;
    float: left;
}

.services .item i{
    float: left;
    width: 20%;
    margin-right: 5%;
    color: #1abc9c;
    margin-top: 15px;
}

.services .item .info{
    float: left;
    width: 75%;
    padding: 20px;
}

.services .item .info h3{
    color: #333;
    margin-top: 0px
}

.services .item p{
    color: #999;
}

.our-team{
    padding: 20px
}

.our-team .box:first-child{
    width: 35%;
    float: left;
}

.our-team .box:not(:first-child){
    width: 15.25%;
    float: right;
    margin-left: 1%;
    position: relative;
}

.our-team .box:not(:first-child) .overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 188, 156, 0.69);
    line-height: 180px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    display: none;
}

.our-team .box:not(:first-child):hover .overlay{
    display: block
}

.our-team .box:not(:first-child) img{
    width: 100%;
}

.our-team .box p{
    color: #999
}

/*End Our Services */

/* Start testimonials */

.testim{
    background-image: url('../images/testimonials.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    height: 500px;
    position: relative;
    text-align: center;
    padding: 80px 0;
}

.testim .t-overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 80px
}

.testim .t-overlay h2{
    font-weight: normal;
    font-size: 40px;
    margin: 40px 0;
}

.testim .t-overlay q{
    font-size: 20px;
    line-height: 2;
    display: block;
    margin-top: 80px;
}

.testim .t-overlay p{
    color: #1abc9c;
    font-size: 20px;
}

.testim .slider > div{
    display: none;
}

.testim .slider .active{
    display: block;
}

/* End testimonials */

/* Start Portfolio */

.portfolio h2{
    margin-top: 50px
}

.portfolio ul li{
    display: inline-block;
    padding: 10px;
    border: 2px solid #999;
    margin-right: 7px;
    color: #999;
    border-radius: 5px;
    cursor: pointer;
}

.portfolio ul li:hover,
.portfolio ul li.selected{
    background-color: #1abc9c;
    color: #fff;
    border: 2px solid #1abc9c
}

.portfolio{
    overflow: hidden;
    padding: 0 0 40px 0;
}


.portfolio .gallery {
    margin-top: 50px;
}

.portfolio .gallery .row{
    margin-bottom: 5px;
    overflow: hidden
}

.portfolio .gallery .row > div{
    float: left;
    width: 32.66666%;
    position: relative;
}

.portfolio .gallery .row div:nth-child(2){
    margin-left: 1%;
    margin-right: 1%;
}

.portfolio .gallery .row .heart{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    display: none;
}

.portfolio .gallery .row > div .over{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 188, 156, 0.8);
    line-height: 238px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    display: none;
}

.portfolio .gallery .row > div:hover .over,
.portfolio .gallery .row > div:hover .heart{
    display: block;
}

.portfolio .gallery .row > div img{
    width: 100%;
}



/* End Portfolio */

/* Start Footer */

.footer{
    background-color: #333333;
    color: #999999;
    padding: 40px 0;
    overflow: hidden;
}

.footer .col{
    width: 25%;
    float: left;
}

.footer .col h3{
    color: #fff;
    font-weight: normal;
}

.footer .col i{
    color: #999;
    margin: 3px;
    border: 1px solid #999;
    padding: 10px;
    width: 41px;
}

.footer .col input{
    padding: 10px;
    background: none;
    color: #fff;
    border: 1px solid #999;
    text-transform: uppercase;
    margin: 3px;
    cursor: pointer;
}

/* Start Footer */
